### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [75]:
total_player = purchase_data["SN"].nunique()
totalplayer_df = pd.DataFrame({"Total Players":[total_player]})
totalplayer_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [76]:
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
purchase_number = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_df = pd.DataFrame({"Number of Unique Items":[unique_items]
                              ,"Total Revenue":[total_revenue]
                             , "Average Price":[average_price]
                             , "Number of Purchases":[purchase_number]})
purchasing_df["Average Price"] = purchasing_df["Average Price"].map("${:.2f}".format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].map("${:.2f}".format)
purchasing_df

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [77]:
player_count = purchase_data["Gender"].value_counts()
player_percentage = player_count/total_player*100
gender_demo = pd.DataFrame({"Percentage of Players":player_percentage
                           , "Total Count":player_count})
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)

gender_demo
# PERCENTAGE : map("{0:.2f}%".format)

                      Percentage of Players  Total Count
Male                                 113.19          652
Female                                19.62          113
Other / Non-Disclosed                  2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
gender_data = purchase_data [["Gender", "Price"]]
gender_group = gender_data.groupby("Gender").sum()
gender_group["Purchase Count"] = gender_data.groupby("Gender").count()
gender_group["Average Purchase Price"] = (gender_group["Price"]/gender_group["Purchase Count"]).map("${:.2f}".format)
gender_group["Total Purchase Value"] = gender_group["Price"].map("${:.2f}".format)
gender_group["Avg Purchase Total per Person"] = gender_group["Average Purchase Price"]
del gender_group["Price"]
gender_group.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demo = pd.DataFrame({"Age":purchase_data["Age"]})
age_demo[" "] = pd.cut(age_demo["Age"], age_bins, labels=group_names)
age_group = age_demo.groupby(" ").sum()
age_group["Total Count"] = age_demo.groupby(" ").count()
age_group["Percentage of Players"] = age_group["Total Count"]/total_player*100
age_group["Percentage of Players"] = age_group["Percentage of Players"].map("{:.2f}".format)
age_organized = age_group[["Percentage of Players", "Total Count"]]


age_organized

      Percentage of Players  Total Count

<10                    3.99           23
10-14                  4.86           28
15-19                 23.61          136
20-24                 63.37          365
25-29                 17.53          101
30-34                 12.67           73
35-39                  7.12           41
40+                    2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data[" "] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_group = purchase_data.groupby(" ").sum()
purchase_group["Purchase Count"] = age_group["Total Count"]
purchase_group["Average Purcahse Price"] = purchase_group["Price"]/purchase_group["Purchase Count"]
purchase_group["Average Purcahse Price"] = purchase_group["Average Purcahse Price"].map("${:.2f}".format)
purchase_group["Average Purcahse Total per Person"] = purchase_group["Average Purcahse Price"]
purchase_group["Price"] = purchase_group["Price"].map("${:.2f}".format)

purchase_summary = purchase_group[["Purchase Count", "Average Purcahse Price", "Price"
                                   , "Average Purcahse Total per Person"]]
summary_df = purchase_summary.rename(columns={"Price": "Total Purcahse Value"})
summary_df

,Purchase Count,Average Purcahse Price,Total Purcahse Value,Average Purcahse Total per Person
,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:
spenders_info = purchase_data[["SN", "Price"]]
spenders_group = spenders_info.groupby("SN").sum()
spenders_group["Purchase Count"] = spenders_info.groupby("SN").count()
spenders_group["Average Purchase Price"] = (spenders_group["Price"])/(spenders_group["Purchase Count"])
organized_group = spenders_group.rename(columns={"Price":"Total Purchase Value"})
top_spenders = organized_group.sort_values("Total Purchase Value", ascending=False)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders.head()

            Total Purchase Value  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [82]:
item_data = purchase_data [["Item ID", "Item Name", "Price"]]
item_group = item_data.groupby(["Item ID", "Item Name"]).sum()
item_group["Purchase Count"] = item_data.groupby(["Item ID", "Item Name"]).count()
item_group["Item Price"] = (item_group["Price"]/item_group["Purchase Count"]).map("${:.2f}".format)
item_group["Price"] = item_group["Price"]
#.map("${:.2f}".format)
organized_item = item_group.rename(columns={"Price":"Total Purchase Value"})
top_items = organized_item.sort_values("Purchase Count", ascending=False)
top_items.head()

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,$4.23
145,Fiery Glass Crusader,41.22,9,$4.58
108,"Extraction, Quickblade Of Trembling Hands",31.77,9,$3.53
82,Nirvana,44.10,9,$4.90
19,"Pursuit, Cudgel of Necromancy",8.16,8,$1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [83]:
# organized_item
# print(organized_item.to_string())

top_items_value = organized_item.sort_values("Total Purchase Value",ascending = False)
top_items_value["Total Purchase Value"]=top_items_value["Total Purchase Value"].map("${:.2f}".format)

print(top_items_value.to_string())

                                                     Total Purchase Value  Purchase Count Item Price
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm               $50.76              12      $4.23
82      Nirvana                                                    $44.10               9      $4.90
145     Fiery Glass Crusader                                       $41.22               9      $4.58
92      Final Critic                                               $39.04               8      $4.88
103     Singed Scalpel                                             $34.80               8      $4.35
59      Lightning, Etcher of the King                              $33.84               8      $4.23
108     Extraction, Quickblade Of Trembling Hands                  $31.77               9      $3.53
78      Glimmer, Ender of the Moon                                 $30.80               7      $4.40
72      Winter's Bite                                              $30.16               8      $3.77
60      Wolf                                                       $28.32               8      $3.54
179     Wolf, Promise of the Moonwalker                            $26.88               6      $4.48
160     Azurewrath                                                 $26.40               6      $4.40
25      Hero Cane                                                  $26.10               6      $4.35
37      Shadow Strike, Glory of Ending Hope                        $25.28               8      $3.16
139     Mercy, Katana of Dismay                                    $24.70               5      $4.94
128     Blazeguard, Reach of Eternity                              $24.55               5      $4.91
138     Peacekeeper, Wit of Dark Magic                             $23.70               5      $4.74
141     Persuasion                                                 $22.33               7      $3.19
87      Deluge, Edge of the West                                   $22.15               5      $4.43
159     Oathbreaker, Spellblade of Trials                          $21.56               7      $3.08
136     Ghastly Adamantite Protector                               $21.48               6      $3.58
65      Conqueror Adamantite Mace                                  $21.20               5      $4.24
101     Final Critic                                               $20.95               5      $4.19
102     Avenger                                                    $20.64               6      $3.44
133     Faith's Scimitar                                           $20.45               5      $4.09
39      Betrayal, Whisper of Grieving Widows                       $19.70               5      $3.94
111     Misery's End                                               $19.56               4      $4.89
165     Bone Crushing Silver Skewer                                $19.44               4      $4.86
75      Brutality Ivory Warmace                                    $19.36               8      $2.42
52      Hatred                                                     $19.36               4      $4.84
157     Spada, Etcher of Hatred                                    $19.20               4      $4.80
114     Yearning Mageblade                                         $19.10               5      $3.82
24      Warped Fetish                                              $19.05               5      $3.81
88      Emberling, Defender of Delusions                           $18.75               5      $3.75
96      Blood-Forged Skeletal Spine                                $18.54               6      $3.09
120     Agatha                                                     $18.48               6      $3.08
50      Dawn                                                       $18.40               4      $4.60
57      Despair, Favor of Due Diligence                            $18.40               4      $4.60
11      Brimstone                                                  $18.25               5      $3.65
34      Retribution Axe                                            $17.76               8      $2.22
66      Victor Iron Spikes                                         $17.60               4      $4.40
154     Feral Katana                                               $17.60               4      $4.40
68      Storm-Weaver, Slayer of Inception                          $17.28               4      $4.32
35      Heartless Bone Dualblade                                   $17.25               5      $3.45
163     Thunderfury Scimitar                                       $17.25               5      $3.45
80      Dreamsong                                                  $16.95               5      $3.39
137     Aetherius, Boon of the Blessed                             $16.95               5      $3.39
116     Renewed Skeletal Katana                                    $16.72               4      $4.18
58      Freak's Bite, Favor of Holy Might                          $16.56               4      $4.14
100     Blindscythe                                                $16.35               5      $3.27
20      Netherbane                                                 $16.35               5      $3.27
5       Putrid Fan                                                 $16.32               4      $4.08
113     Solitude's Reaver                                          $16.28               4      $4.07
77      Piety, Guardian of Riddles                                 $16.00               4      $4.00
170     Shadowsteel                                                $15.88               4      $3.97
146     Warped Iron Scimitar                                       $15.50               5      $3.10
45      Glinting Glass Edge                                        $15.40               4      $3.85
40      Second Chance                                              $15.12               6      $2.52
54      Eternal Cleaver                                            $15.00               6      $2.50
153     Mercenary Sabre                                            $14.96               4      $3.74
3       Phantomlight                                               $14.94               6      $2.49
2       Verdict                                                    $14.88               6      $2.48
15      Soul Infused Crystal                                       $14.80               5      $2.96
147     Hellreaver, Heirloom of Inception                          $14.79               3      $4.93
140     Striker                                                    $14.70               5      $2.94
64      Fusion Pummel                                              $14.46               3      $4.82
98      Deadline, Voice Of Subtlety                                $14.45               5      $2.89
167     Malice, Legacy of the Queen                                $14.44               4      $3.61
53      Vengeance Cleaver                                          $14.35               7      $2.05
109     Downfall, Scalpel Of The Emperor                           $14.28               3      $4.76
41      Orbit                                                      $14.25               3      $4.75
150     Deathraze                                                  $14.25               5      $2.85
95      Singed Onyx Warscythe                                      $14.22               3      $4.74
16      Restored Bauble                                            $14.20               4      $3.55
94      Mourning Blade                                             $13.96               4      $3.49
89      Blazefury, Protector of Delusions                          $13.92               3      $4.64
174     Primitive Blade                                            $13.88               4      $3.47
67      Celeste, Incarnation of the Corrupted                      $13.84               4      $3.46
175     Woeful Adamantite Claymore                                 $13.44               3      $4.48
162     Abyssal Shard                                              $13.35               5      $2.67
83      Lifebender                                                 $13.32               4      $3.33
22      Amnesia                                                    $13.08               6      $2.18
119     Stormbringer, Dark Blade of Ending Misery                  $12.96               3      $4.32
76      Haunted Bronzed Bludgeon                                   $12.60               4      $3.15
172     Blade of the Grave                                         $12.56               4      $3.14
74      Yearning Crusher                                           $12.54               3      $4.18
117     Heartstriker, Legacy of the Light                          $12.53               7      $1.79
85      Malificent Bag                                             $12.25               7      $1.75
79      Alpha, Oath of Zeal                                        $12.15               3      $4.05
105     Hailstorm Shadowsteel Scythe                               $12.12               4      $3.03
148     Warmonger, Gift of Suffering's End                         $12.09               3      $4.03
182     Toothpick                                                  $12.09               3      $4.03
44      Bonecarvin Battle Axe                                      $11.90               5      $2.38
93      Apocalyptic Battlescythe                                   $11.82               6      $1.97
8       Purgatory, Gem of Regret                                   $11.79               3      $3.93
144     Blood Infused Guardian                                     $11.64               6      $1.94
61      Ragnarok                                                   $11.61               3      $3.87
164     Exiled Doomblade                                           $11.41               7      $1.63
84      Arcane Gem                                                 $11.37               3      $3.79
71      Demise                                                     $11.27               7      $1.61
9       Thorn, Conqueror of the Corrupted                          $10.92               4      $2.73
112     Worldbreaker                                               $10.40               4      $2.60
73      Ritual Mace                                                $10.25               5      $2.05
106     Crying Steel Sickle                                        $10.23               3      $3.41
151     Severance                                                  $10.20               3      $3.40
110     Suspension                                                 $10.08               7      $1.44
63      Stormfury Mace                                              $9.98               2      $4.99
29      Chaos, Ender of the End                                     $9.90               5      $1.98
173     Stormfury Longsword                                         $9.86               2      $4.93
1       Crucifer                                                    $9.78               3      $3.26
38      The Void, Vengeance of Dark Magic                           $9.48               4      $2.37
143     Frenzied Scimitar                                           $9.36               6      $1.56
7       Thorn, Satchel of Dark Souls                                $9.31               7      $1.33
18      Torchlight, Bond of Storms                                  $9.30               2      $4.65
129     Fate, Vengeance of Eternal Justice                          $9.24               6      $1.54
166     Thirsty Iron Reaver                                         $9.21               3      $3.07
123     Twilight's Carver                                           $9.12               4      $2.28
49      The Oculus, Token of Lost Worlds                            $8.88               3      $2.96
156     Soul-Forged Steel Shortsword                                $8.85               5      $1.77
161     Devine                                                      $8.80               5      $1.76
149     Tranquility, Razor of Black Magic                           $8.75               5      $1.75
107     Splitter, Foe Of Subtlety                                   $8.72               4      $2.18
169     Interrogator, Blood Blade of the Queen                      $8.72               4      $2.18
122     Unending Tyranny                                            $8.55               3      $2.85
4       Bloodlord's Fetish                                          $8.50               5      $1.70
181     Reaper's Toll                                               $8.30               5      $1.66
19      Pursuit, Cudgel of Necromancy                               $8.16               8      $1.02
142     Righteous Might                                             $7.86               3      $2.62
127     Heartseeker, Reaver of Souls                                $7.84               2      $3.92
97      Swan Song, Gouger Of Terror                                 $7.50               3      $2.50
6       Rusty Skull                                                 $7.40               2      $3.70
81      Dreamkiss                                                   $7.22               2      $3.61
131     Fury                                                        $7.20               5      $1.44
10      Sleepwalker                                                 $7.16               4      $1.79
43      Foul Edge                                                   $7.08               2      $3.54
152     Darkheart                                                   $6.96               4      $1.74
99      Expiration, Warscythe Of Lost Worlds                        $6.84               4      $1.71
86      Stormfury Lantern                                           $6.81               3      $2.27
55      Vindictive Glass Edge                                       $6.81               3      $2.27
17      Lazarus, Terror of the Earth                                $6.80               4      $1.70
132     Persuasion                                                  $6.66               2      $3.33
46      Hopeless Ebon Dualblade                                     $6.65               5      $1.33
121     Massacre                                                    $6.40               4      $1.60
130     Alpha                                                       $6.21               3      $2.07
12      Dawne                                                       $6.12               6      $1.02
56      Foul Titanium Battle Axe                                    $5.84               2      $2.92
32      Orenmir                                                     $5.70               5      $1.14
176     Relentless Iron Skewer                                      $5.68               2      $2.84
13      Serenity                                                    $5.64               4      $1.41
62      Piece Maker                                                 $5.61               3      $1.87
21      Souleater                                                   $5.50               5      $1.10
171     Scalpel                                                     $5.37               3      $1.79
14      Possessed Core                                              $5.22               2      $2.61
124     Venom Claymore                                              $5.16               4      $1.29
0       Splinter                                                    $5.12               4      $1.28
155     War-Forged Gold Deflector                                   $5.05               5      $1.01
48      Rage, Legacy of the Lone Victor                             $4.96               2      $2.48
158     Darkheart, Butcher of the Champion                          $4.90               2      $2.45
51      Endbringer                                                  $4.66               1      $4.66
134     Undead Crusader                                             $4.50               1      $4.50
30      Stormcaller                                                 $4.42               2      $2.21
135     Warped Diamond Crusader                                     $4.20               3      $1.40
91      Celeste                                                     $4.17               1      $4.17
177     Winterthorn, Defender of Shifting Worlds                    $4.16               2      $2.08
70      Hope's End                                                  $4.12               4      $1.03
115     Spectral Diamond Doomblade                                  $4.08               2      $2.04
69      Frenzy, Defender of the Harvest                             $3.96               2      $1.98
47      Alpha, Reach of Ending Hope                                 $3.58               1      $3.58
180     Stormcaller                                                 $3.36               1      $3.36
27      Riddle, Tribute of Ended Dreams                             $3.30               1      $3.30
183     Dragon's Greatsword                                         $3.27               3      $1.09
31      Trickster                                                   $3.10               2      $1.55
168     Sun Strike, Jaws of Twisted Visions                         $2.96               2      $1.48
90      Betrayer                                                    $2.94               1      $2.94
33      Curved Axe                                                  $2.32               2      $1.16
26      Unholy Wand                                                 $2.24               2      $1.12
118     Ghost Reaver, Longsword of Magic                            $2.17               1      $2.17
28      Flux, Destroyer of Due Diligence                            $2.12               2      $1.06
125     Whistling Mithril Warblade                                  $2.00               2      $1.00
126     Exiled Mithril Longsword                                    $2.00               1      $2.00
23      Crucifer                                                    $1.99               1      $1.99
104     Gladiator's Glaive                                          $1.93               1      $1.93
42      The Decapitator                                             $1.75               1      $1.75